---
## Check release names in https://mirror.openshift.com/pub/openshift-v4/clients/ocp
ocp_release_version: "4.4.6"

ocp_master_memory: 16
ocp_master_cpu: 4
ocp_master_disk_root: 120
ocp_master_disk_data: 1
ocp_worker_memory: 24
ocp_worker_cpu: 4
ocp_worker_disk_root: 120
ocp_worker_disk_data: 500

## Interface name as appears in 'nmcli con show' command
kvm_public_interface: "< interface >"
kvm_ext_dns: "8.8.8.8"

ocp_install_config_file: "install-config.yaml"

ocp_create_users: "true"
ocp_users_password: R3dh4t01
ocp_clusteradmin_password: R3dh4t1!
