<network>
    <name>{{ network_name }}</name>
    <forward mode='{{ libvirt_net_mode | default('nat') }}'/>
    <bridge name="{{ network_name }}" stp="off" delay="0"/>
    <domain name="{{ network_name }}"/>

    <ip address='{{ network_sub24.split('.')[:3] | join('.')}}.1' netmask='255.255.255.0' />
</network>