<network>
    <name>{{ network_name }}</name>
    <forward mode='{{ network_mode }}'/>
    <bridge name="{{ network_name }}" />
    {% if libvirt_net_mode == 'nat' %}
    <ip address='{{ network_sub24.split('.')[:3] | join('.')}}.1' netmask='255.255.255.0' />
    {% endif %}
</network>
