<network>
    <name>{{ network_name }}</name>
    <forward mode='{{ network_mode }}'/>
    <bridge name="{{ network_name }}" />
    {% if network_mode == 'nat' %}
    <ip address='{{ network_sub24.split('.')[:3] | join('.')}}.1' netmask='255.255.255.0' >
      {% if network_dhcp == 'true' %}
      <dhcp>
        <range start="{{ network_sub24.split('.')[:3] | join('.')}}.128" end="{{ network_sub24.split('.')[:3] | join('.')}}.254"/>
      </dhcp>
      {% endif %}
    </ip>
    {% endif %}
</network>
